.exhibit-card-container {
  height: 430px;
  box-shadow: 4px 4px 5px black;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  color: White;
  transition: 0.4s;
}

.breed-name {
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.exhibit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 400px;
  width: 200px;
  cursor: pointer;
  border: 4mm ridge #f96162;
}

.exhibit-card-container:hover {
  height: 450px;
  margin: 0px;
}

.exhibit-card > img {
  flex-shrink: 0;
  max-height: 100%;
  min-width: 100%;
}