.exhibit-card-container {
  height: 440px;
  box-shadow: 4px 4px 5px black;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  color: White;
  border: 2.8mm ridge #f96162;
  transition: 0.5s;
}

.exhibit-card-container:hover {
  scale: 1.1;
}

.breed-name {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.exhibit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 400px;
  width: 200px;
}

.exhibit-card > img {
  flex-shrink: 0;
  max-height: 100%;
  min-width: 100%;
}

a:-webkit-any-link {
  cursor: pointer;
  height: fit-content;
  text-decoration: none;
}