
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.dog-card {
  height: 200px;
  border: 3mm ridge #dbaa4b;
}

.favorite-button {
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 7px;
  margin: 6px;
  background: #3b92d0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.571);
}

.favorite-button:hover {
  scale:1.1;
  background-color: #f96162;
}

.favorite-button:disabled {
  background-color: grey;
  color: darkgray;
  pointer-events: none;
}
