.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 18%;
  background-color: pink;
  height: 88vh;
}

.home-page > h2,
.home-page > p,
.home-page > button {
  width: fit-content;
}

.random-dog{
  /* width: 50vw; */
  max-height: 45vh;
  border: 4mm ridge #f96162;
}

.get-random > button {
  height: 40px;
  width: 150px;
  border: 0;
  border-radius: 7px;
  margin: 6px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #f96162
}

.get-random > button:hover {
scale:1.1;
background: #3b92d0
}

.get-random {
 display:flex;
 flex-direction: column;
 align-items: center;
}

.home-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 80px;
}